.nav {
  background-color: #333;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
}

.navLinks {
  display: flex;
  gap: 1rem;
}

.link {
  color: rgb(0, 247, 255);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #555;
}

.content {
  padding: 2rem;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
